body{
  background-color: black;
}
form{
  background-color: black;
  color: goldenrod;
  text-align-last: center;
  vertical-align: justify;
}
h1{
  text-align-last: center;
  font-family: cursive;
  color: goldenrod;font-size: 50px;
}
input{
  border-radius: 24px;
  border: 1 px solid; rgb(223,225,229);
}
